<footer class="footer">
  <div class="footer-wrap">
    <div class="footer-link">
      <% if (theme.links) { %>
      <h3>LINKS</h3>
      <p>
        <% theme.links.forEach(function(link){ %>
          <a href="<%= link.url %>" target="_blank"><%- link.name %></a>
        <% }) %>
      </p>
      <% } %>
    </div>
    <div class="footer-tags">
      <% if (site.tags && site.tags.length) { %>
        <h3>TAGS</h3>        
        <div class="tags">
             <%- list_tags(site.tags, {
              show_count: false,
              style: 'list',
              separator: ' / '
            }) %>
          </div>
      <% } %>
    </div>
    <div class="footer-info">
    	<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <div class="powered-by">
        <i class="fa fa-user-md"></i><span id="busuanzi_container_site_uv">
          本站访客数:<span id="busuanzi_value_site_uv"></span>
        </span>
        <!-- npm install hexo-wordcount --save -->
        <span class="footer-margin">博客全站共<%= totalcount(site) %>字</span>
        </div>
        <div>Theme <span class="codename"><a href="https://github.com/GGICE/hexo-icer" target="_blank">icer</a></span> designed & coded by <a href="https://ice.gs/" target="_blank">GGICE</a></div>
        <div>Copyright &copy; 2017-<%= new Date().getUTCFullYear()%>, <a href="/"><%= config.title %></a>  . All rights reserved .</div>
      </div>
  </div>
</footer>

